CCCRM/Web References/net.azurewebsites.codistri/WebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RunActionByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="exportStyle" type="tns:ExportStyle" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gridURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="args" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ExportStyle">
        <s:restriction base="s:string">
          <s:enumeration value="CsvWithHeader" />
          <s:enumeration value="CsvWithoutHeader" />
          <s:enumeration value="Json" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="RunActionByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunActionByNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComboListByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="exportStyle" type="tns:ExportStyle" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gridURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comboName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="args" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComboListByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComboListByNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RunActionByNameSoapIn">
    <wsdl:part name="parameters" element="tns:RunActionByName" />
  </wsdl:message>
  <wsdl:message name="RunActionByNameSoapOut">
    <wsdl:part name="parameters" element="tns:RunActionByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetComboListByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetComboListByName" />
  </wsdl:message>
  <wsdl:message name="GetComboListByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetComboListByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicesSoap">
    <wsdl:operation name="RunActionByName">
      <wsdl:input message="tns:RunActionByNameSoapIn" />
      <wsdl:output message="tns:RunActionByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetComboListByName">
      <wsdl:input message="tns:GetComboListByNameSoapIn" />
      <wsdl:output message="tns:GetComboListByNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServicesHttpGet" />
  <wsdl:portType name="WebServicesHttpPost" />
  <wsdl:binding name="WebServicesSoap" type="tns:WebServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunActionByName">
      <soap:operation soapAction="http://tempuri.org/RunActionByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComboListByName">
      <soap:operation soapAction="http://tempuri.org/GetComboListByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicesSoap12" type="tns:WebServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunActionByName">
      <soap12:operation soapAction="http://tempuri.org/RunActionByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComboListByName">
      <soap12:operation soapAction="http://tempuri.org/GetComboListByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicesHttpGet" type="tns:WebServicesHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WebServicesHttpPost" type="tns:WebServicesHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WebServices">
    <wsdl:port name="WebServicesSoap" binding="tns:WebServicesSoap">
      <soap:address location="http://codistri.azurewebsites.net/WebServices.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicesSoap12" binding="tns:WebServicesSoap12">
      <soap12:address location="http://codistri.azurewebsites.net/WebServices.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicesHttpGet" binding="tns:WebServicesHttpGet">
      <http:address location="http://codistri.azurewebsites.net/WebServices.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicesHttpPost" binding="tns:WebServicesHttpPost">
      <http:address location="http://codistri.azurewebsites.net/WebServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>